* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-image {
  max-width: 10em;
}

.game-series-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 80vw;
  margin: auto;
  gap: 2em;
  &__card {
    text-decoration: none;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: red;
    span {
      color: white;
    }
    img {
      max-height: 10em;
      flex-grow: 1;
    }
  }
}